@font-face {
	font-family: "headerFont";
	src: url("font/Rowdies-Bold.ttf");
}
@font-face {
	font-family: "subheaderFont";
	src: url("font/Rowdies-Light.ttf");
}
@font-face {
	font-family: "bodyFont";
	src: url("font/YsabeauInfant-VariableFont_wght.ttf");
}

body {
	background-color: #0C0C0C;
	color: #EFEFEF;
	margin: 0em 1em 1em 1em;
	font-family: "bodyFont", Verdana, Helvetica, sans-serif;
	font-size: 1.2em;
}

h1 {
	color: #FF400C;
	text-align: center;
	font-family: "headerFont", serif;
	font-size: 3em;
}

h2 {
	color: #C81604;
	font-family: "subheaderFont", serif;
	font-size: 2em;
}


div.hFlow {
	display: flex;
}

div.galleryBack {
	background-color: #050505;
	margin: 1em;
}

div.footer {
	position: absolute;
	bottom: 1em;
	width: 90%;
	text-align: center;
	color: #9F9F9F;
	font-size: 0.666em;
}